smartlink/flow.json
[
    {
        "id": "9255bde8cf987612",
        "type": "tab",
        "label": "CM-Ext_Hospital_Sao_Joaquim_OPME",
        "disabled": false,
        "info": "",
        "env": [],
        "dbPanelCode": ""
    },
    {
        "id": "2e50f844c9866542",
        "type": "group",
        "z": "9255bde8cf987612",
        "name": "Interceptor",
        "style": {
            "stroke": "#0070c0",
            "fill": "#3f93cf",
            "label": true
        },
        "nodes": [
            "bcad0c412a43869c",
            "fd5c4d31149e457e",
            "31c64ab450483625",
            "271d7be7a62d276e",
            "fe477941bdebd6d1",
            "8cdce8fd82cb219b"
        ],
        "x": 54,
        "y": 19,
        "w": 932,
        "h": 182
    },
    {
        "id": "c30a546b2d68d1b9",
        "type": "group",
        "z": "9255bde8cf987612",
        "name": "Search Purchase Order",
        "style": {
            "stroke": "#777777",
            "fill": "#a4a4a4",
            "label": true
        },
        "nodes": [
            "c9b0274fc6400f7d",
            "1a79e17ae25fb711",
            "35296e8f840e59b7"
        ],
        "x": 1134,
        "y": 19,
        "w": 612,
        "h": 82
    },
    {
        "id": "7c63578de2aa795f",
        "type": "group",
        "z": "9255bde8cf987612",
        "name": "Regra preço fixo",
        "style": {
            "stroke": "#92d04f",
            "fill": "#addb7b",
            "label": true,
            "label-position": "sw"
        },
        "nodes": [
            "eb37926eb9e02533",
            "b625328589c9b500"
        ],
        "x": 54,
        "y": 259,
        "w": 852,
        "h": 90
    },
    {
        "id": "b6c0cc3d51596f8d",
        "type": "group",
        "z": "9255bde8cf987612",
        "name": "Regra Ordem Consignado",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#6f2fa0",
            "label": true,
            "label-position": "sw"
        },
        "nodes": [
            "23982222a7b146b0",
            "d4d256572634e723"
        ],
        "x": 54,
        "y": 399,
        "w": 852,
        "h": 90
    },
    {
        "id": "745cbd6cfc01f8a4",
        "type": "group",
        "z": "9255bde8cf987612",
        "name": "Debugs",
        "style": {
            "stroke": "#ffff00",
            "fill": "#ffff00",
            "label": true
        },
        "nodes": [
            "f99b9448719148b2",
            "328e8ccc2495a7d2",
            "e19571f90524a362"
        ],
        "x": 1134,
        "y": 219,
        "w": 312,
        "h": 162
    },
    {
        "id": "1d824944d4705262",
        "type": "group",
        "z": "9255bde8cf987612",
        "name": "Tasy Interceptor",
        "style": {
            "stroke": "#0070c0",
            "fill": "#0070c0",
            "label": true
        },
        "nodes": [
            "bcad0c412a43869c",
            "fd5c4d31149e457e",
            "31c64ab450483625"
        ],
        "x": 54,
        "y": 19,
        "w": 932,
        "h": 142
    },
    {
        "id": "fe477941bdebd6d1",
        "type": "function",
        "z": "9255bde8cf987612",
        "g": "2e50f844c9866542",
        "name": "setParamsConsumo",
        "func": " if (msg.payload && msg.payload.arguments_in) {\n    msg.params = msg.payload.arguments_in;\n    msg.params.IE_TIPO_ORDEM_P = 'G';\n    msg.params.QT_COMPRA_P = msg.params.QT_TOTAL_DISPENSAR_P || 0;\n}\n \nsetTimeout(function() {\n    node.send(msg);\n}, 3000);\n\nreturn [];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [
            [
                "31c64ab450483625"
            ]
        ]
    },
    {
        "id": "8cdce8fd82cb219b",
        "type": "function",
        "z": "9255bde8cf987612",
        "g": "2e50f844c9866542",
        "name": "setParamsReposicao",
        "func": " if (msg.payload && msg.payload.arguments_in) {\n    msg.params = msg.payload.arguments_in;\n    msg.params.IE_TIPO_ORDEM_P = 'W';\n}\n \nsetTimeout(function() {\n    node.send(msg);\n}, 3000);\n\nreturn [];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 60,
        "wires": [
            [
                "31c64ab450483625"
            ]
        ]
    },
    {
        "id": "271d7be7a62d276e",
        "type": "PL/SQL Object Interceptor",
        "z": "9255bde8cf987612",
        "g": "2e50f844c9866542",
        "name": "GERAR_ORDEM_COMPRA_CONSIG",
        "url": "/interceptor/plsql/",
        "method": "post",
        "usetls": false,
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "fe477941bdebd6d1",
                "fd5c4d31149e457e"
            ]
        ]
    },
    {
        "id": "35296e8f840e59b7",
        "type": "sql builder",
        "z": "9255bde8cf987612",
        "g": "c30a546b2d68d1b9",
        "parameters": [
            {
                "variable": "nr_prescricao_p",
                "value": "params.NR_PRESCRICAO_P",
                "type": "msg"
            }
        ],
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "template": "SELECT nr_ordem_compra,\nobter_valor_dominio(2131, ie_tipo_ordem) tipo_ordem,\nround((nvl(obter_valor_liquido_ordem(nr_ordem_compra),0)),2) total_ordem,\ndt_liberacao\nFROM ordem_compra\nwhere nr_prescricao = :nr_prescricao_p\nand ie_tipo_ordem = 'W'",
        "output": "str",
        "x": 1230,
        "y": 60,
        "wires": [
            [
                "1a79e17ae25fb711"
            ]
        ]
    },
    {
        "id": "1a79e17ae25fb711",
        "type": "tasy data access",
        "z": "9255bde8cf987612",
        "g": "c30a546b2d68d1b9",
        "name": "",
        "x": 1430,
        "y": 60,
        "wires": [
            [
                "c9b0274fc6400f7d"
            ]
        ]
    },
    {
        "id": "c9b0274fc6400f7d",
        "type": "debug",
        "z": "9255bde8cf987612",
        "g": "c30a546b2d68d1b9",
        "name": "debug query",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 60,
        "wires": []
    },
    {
        "id": "23982222a7b146b0",
        "type": "procedure",
        "z": "9255bde8cf987612",
        "g": "b6c0cc3d51596f8d",
        "name": "TCEL_GERAR_APROV_ORDEM_REPO_CONSIG",
        "params": [
            {
                "paramname": "CD_ESTABELECIMENTO_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.CD_ESTABELECIMENTO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "CD_FORNECEDOR_CONSIGNADO_P",
                "paramdatatype": "VARCHAR2",
                "paramtype": "IN",
                "paramvalue": "params.CD_FORNECEDOR_CONSIGNADO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "CD_LOCAL_ENTREGA_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.CD_LOCAL_ENTREGA_P",
                "typedInput": "msg"
            },
            {
                "paramname": "NR_ATENDIMENTO_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.NR_ATENDIMENTO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "NR_PRESCRICAO_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.NR_PRESCRICAO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "CD_MATERIAL_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.CD_MATERIAL_P",
                "typedInput": "msg"
            },
            {
                "paramname": "CD_LOCAL_ESTOQUE_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.CD_LOCAL_ESTOQUE_P",
                "typedInput": "msg"
            },
            {
                "paramname": "NM_USUARIO_P",
                "paramdatatype": "VARCHAR2",
                "paramtype": "IN",
                "paramvalue": "params.NM_USUARIO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "IE_TIPO_ORDEM_P",
                "paramdatatype": "VARCHAR2",
                "paramtype": "IN",
                "paramvalue": "params.IE_TIPO_ORDEM_P",
                "typedInput": "msg"
            }
        ],
        "sql": "",
        "procedure": "TCEL_GERAR_APROV_ORDEM_REPO_CONSIG",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "d4d256572634e723"
            ]
        ]
    },
    {
        "id": "eb37926eb9e02533",
        "type": "tasy data access",
        "z": "9255bde8cf987612",
        "g": "7c63578de2aa795f",
        "name": "update purchase order value",
        "x": 760,
        "y": 300,
        "wires": [
            [
                "23982222a7b146b0",
                "328e8ccc2495a7d2",
                "35296e8f840e59b7"
            ]
        ]
    },
    {
        "id": "d4d256572634e723",
        "type": "tasy data access",
        "z": "9255bde8cf987612",
        "g": "b6c0cc3d51596f8d",
        "name": "release purchase order",
        "x": 770,
        "y": 440,
        "wires": [
            [
                "e19571f90524a362",
                "35296e8f840e59b7"
            ]
        ]
    },
    {
        "id": "b625328589c9b500",
        "type": "procedure",
        "z": "9255bde8cf987612",
        "g": "7c63578de2aa795f",
        "name": "TCEL_ATUALIZA_VALOR_MAT_ORDEM_CONSIG",
        "params": [
            {
                "paramname": "CD_ESTABELECIMENTO_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.CD_ESTABELECIMENTO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "CD_FORNECEDOR_CONSIGNADO_P",
                "paramdatatype": "VARCHAR2",
                "paramtype": "IN",
                "paramvalue": "params.CD_FORNECEDOR_CONSIGNADO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "CD_LOCAL_ENTREGA_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.CD_LOCAL_ENTREGA_P",
                "typedInput": "msg"
            },
            {
                "paramname": "NR_ATENDIMENTO_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.NR_ATENDIMENTO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "NR_PRESCRICAO_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.NR_PRESCRICAO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "CD_MATERIAL_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.CD_MATERIAL_P",
                "typedInput": "msg"
            },
            {
                "paramname": "QT_COMPRA_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.QT_COMPRA_P",
                "typedInput": "msg"
            },
            {
                "paramname": "NM_USUARIO_P",
                "paramdatatype": "VARCHAR2",
                "paramtype": "IN",
                "paramvalue": "params.NM_USUARIO_P",
                "typedInput": "msg"
            },
            {
                "paramname": "NR_SEQ_LOTE_FORNEC_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "params.NR_SEQ_LOTE_FORNEC_P",
                "typedInput": "msg"
            },
            {
                "paramname": "IE_TIPO_ORDEM_P",
                "paramdatatype": "VARCHAR2",
                "paramtype": "IN",
                "paramvalue": "params.IE_TIPO_ORDEM_P",
                "typedInput": "msg"
            }
        ],
        "sql": "",
        "procedure": "TCEL_ATUALIZA_VALOR_MAT_ORDEM_CONSIG",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "eb37926eb9e02533"
            ]
        ]
    },
    {
        "id": "f99b9448719148b2",
        "type": "debug",
        "z": "9255bde8cf987612",
        "g": "745cbd6cfc01f8a4",
        "name": "interceptor debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "328e8ccc2495a7d2",
        "type": "debug",
        "z": "9255bde8cf987612",
        "g": "745cbd6cfc01f8a4",
        "name": "update item value debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 300,
        "wires": []
    },
    {
        "id": "e19571f90524a362",
        "type": "debug",
        "z": "9255bde8cf987612",
        "g": "745cbd6cfc01f8a4",
        "name": "release op debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 340,
        "wires": []
    },
    {
        "id": "bcad0c412a43869c",
        "type": "PL/SQL Object Interceptor",
        "z": "9255bde8cf987612",
        "g": "1d824944d4705262",
        "name": "GERAR_ORDEM_REPOSICAO_CONSIG",
        "url": "/interceptor/plsql/",
        "method": "post",
        "usetls": false,
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 60,
        "wires": [
            [
                "8cdce8fd82cb219b",
                "fd5c4d31149e457e"
            ]
        ]
    },
    {
        "id": "fd5c4d31149e457e",
        "type": "http response",
        "z": "9255bde8cf987612",
        "g": "1d824944d4705262",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "31c64ab450483625",
        "type": "function",
        "z": "9255bde8cf987612",
        "g": "1d824944d4705262",
        "name": "joinParams",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 120,
        "wires": [
            [
                "f99b9448719148b2",
                "b625328589c9b500",
                "35296e8f840e59b7"
            ]
        ]
    }
]
